uv.lock
lightning_logs/
/.python-version
*.o
.venv/
.DS_Store
Manifest.toml
.vscode/
_scratchspace
*.pkl
*.pth.tar
PyMiniSolvers/
__pycache__/
algorithms/NeuroSAT/plots/ 
algorithms/NeuroSAT/results_csv/
algorithms/NeuroSAT/lightning_logs/
algorithms/NeuroSAT/*.csv
logs/
*.cnf
algorithms/CaDiCal/build
algorithms/CaDiCal/src
algorithms/CaDiCal/scripts
algorithms/CaDiCal/makefile

# Dataset files
datasets/3SAT/*
!datasets/3SAT/*labels.csv
datasets/4SAT/*
!datasets/4SAT/*labels.csv
datasets/3COL/*
datasets/5COL/*
algorithms/CaDiCal/solve_coloring/cnf
algorithms/CaDiCal/solve_coloring/*.zip
algorithms/CaDiCal/solve_coloring/*.csv
datasets/sc/ # Processed PyG datasets

wandb/
ckpt/
cleaning.ipynb
algorithms/QuerySAT-PyG/results_csv/

